@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"), format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px;
}

[class*="col-"] {
  padding: 0 15px;
}

.flex-sb {
  justify-content: space-between;
  align-items: center;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0 auto;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  margin: 0 auto;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  margin: 0 auto;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
  margin: 0 auto;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  margin: 0 auto;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  margin: 0 auto;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block-center {
  margin: 0 auto;
}

.block-title1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-family: Montserrat;
  color: #60606E;
  text-transform: uppercase;
}

.block-title2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  color: #60606E;
  text-transform: uppercase;
  position: relative;
}

.block-title2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 67px;
  height: 21px;
  background-color: #7BEEC7;
}

.block-title3 {
  font-size: 18px;
  font-weight: 700;
  color: #60606E;
  font-family: Montserrat;
}

.block-title4 {
  font-size: 14px;
  font-weight: 700;
  color: #60606E;
  font-family: Montserrat;
}

.block-text {
  font-size: 16px;
  line-height: 24px;
  color: #60606E;
}

.block-text p {
  margin-bottom: 10px;
}

.btn-green, .btn-white {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  background-color: #7BEEC7;
  color: #fff;
  text-transform: uppercase;
  padding: 1.14em 2.35em;
  transition: all 0.2s ease-in-out;
}

.btn-green:hover, .btn-white:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #7BEEC7;
}

.icon {
  display: block;
  width: 27px;
  height: 36px;
}

.icon path {
  color: #60606E;
}

.icon circle {
  color: #60606E;
}

@media (min-width: 767px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 auto;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    margin: 0 auto;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin: 0 auto;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
    margin: 0 auto;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin: 0 auto;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin: 0 auto;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hidden-md {
    display: none;
  }
  .block-title1 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media (max-width: 991px) {
  .hidden-xs {
    display: none;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
}

.header {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header__logo {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo a {
  font-family: Montserrat;
  color: #60606E;
  font-size: 18px;
}

.header__burger {
  width: 31px;
  height: 15px;
  position: relative;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #707070;
}

.header__burger span::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  width: 15px;
  height: 1px;
  background-color: #707070;
  transition: all 0.4s ease;
}

.header__burger span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 23px;
  height: 1px;
  background-color: #707070;
  transition: all 0.4s ease;
}

.header__burger.active {
  opacity: 1;
  visibility: visible;
}

.header__burger.active span::before {
  width: 100%;
}

.header__burger.active span::after {
  width: 100%;
}

.menu {
  position: fixed;
  top: 65px;
  right: 15px;
  z-index: 50;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #595959;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.menu__item {
  height: 35px;
}

.menu__link {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

.menu__link:hover {
  background-color: #707070;
}

.agancy {
  background: url("../img/agency-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 550px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agancy__body {
  max-width: 560px;
  text-align: center;
  margin-top: -25%;
}

.agancy__green-text {
  display: inline-block;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #60606E;
  background-color: #7BEEC7;
  padding: 10px 16px;
}

.agancy__title {
  padding: 20px 30px;
  border: 10px solid #60606E;
  margin-bottom: 25px;
}

.history {
  padding: 30px 0px 0px 0px;
}

.history__img {
  width: 100%;
}

.history__img img {
  width: 100%;
  height: 100%;
}

.history__title {
  margin: 25px 0px 15px 0px;
}

.history__btn {
  margin: 25px 0px 0px 0px;
  float: right;
}

.choose {
  padding: 60px 0px 60px 0px;
}

.choose__title {
  display: block;
  width: -webkit-max-content;
  width: max-content;
}

.choose__subtitle {
  text-align: center;
  margin: 20px 0px 26px 0px;
}

.choose__preference {
  margin: 0px 0px 26px 0px;
}

.preference {
  text-align: center;
}

.preference__icon {
  width: 37px;
  height: 46px;
  margin: 0px auto 10px;
}

.preference__title {
  margin: 0px 0px 20px 0px;
}

.preference__list li {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}

.portfolio {
  padding-bottom: 100px;
}

.portfolio__cat {
  text-align: center;
}

.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: center;
}

.portfolio__card {
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}

.category__title {
  font-size: 30px;
  line-height: 48px;
  margin: 0px 0px 30px 0px;
}

.category__list {
  margin: 0px 0px 0px 20px;
}

.category__btn {
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-family: Montserrat;
  color: #60606E;
  padding: 0 20px;
  margin: 0px 0px 25px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.category__btn.active {
  margin: 0px 0px 25px -20px;
  background-color: #7BEEC7;
  color: #fff;
}

.card {
  flex: 0 0 66.6666666667%;
  height: -webkit-max-content;
  height: max-content;
  margin: 0px 0px 30px 0px;
}

.card__bg-image {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: -2;
  width: calc(100% - 30px);
  height: 100%;
}

.card__bg-image img {
  width: 100%;
  height: 100%;
}

.card__body {
  width: calc(100% - 30px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in-out;
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
}

.card__link:hover .card__body {
  left: 15px;
}

.card__link:hover .card__title {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.card__link:hover .card__text {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.card__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #60606E;
  text-transform: uppercase;
  transition: all 0.5s ease 0.6s;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
}

.card__text {
  font-size: 14px;
  font-weight: 700;
  background-color: #7BEEC7;
  color: #fff;
  padding: 5px;
  transform: translateY(20px);
  transition: all 0.5s ease 0.8s;
  opacity: 0;
  visibility: hidden;
}

.card-short {
  padding-bottom: 54.5%;
}

.card-long {
  padding-bottom: 138%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.touch {
  background-color: #7BEEC7;
  padding: 50px 0;
}

.touch__title {
  font-size: 30px;
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.touch__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #7BEEC7;
  text-transform: uppercase;
  font-family: Montserrat;
  padding: 1em 1.64em;
  margin: 0px 0px 20px 0px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.touch__link:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.touch__form {
  background-color: #fff;
  padding: 20px;
}

.touch__form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 8px;
  color: #60606E;
  line-height: 55px;
  font-size: 12px;
  font-weight: 700;
  flex: 0 1 80%;
}

.touch__form input::placeholder {
  color: #60606E;
}

.touch__form button {
  flex: 0 1 135px;
}

.touch__form-send {
  display: flex;
}

.touch__form-title {
  font-size: 24px;
  line-height: 36px;
  margin: 0px 0px 35px 0px;
}

.touch__form-text {
  margin: 0px 0px 22px 0px;
}

.footer {
  padding: 40px 0 20px 0;
  color: #60606E;
}

.footer__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 20px 0px;
}

.footer__menu-link {
  color: #60606E;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__text {
  margin: 0px 0px 20px 0px;
  line-height: 18px;
  text-align: center;
}

.footer__social {
  text-align: center;
}

.footer__social svg {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.footer__social svg:hover path {
  fill: #7BEEC7;
}

.footer__social svg path {
  fill: #60606E;
  transition: fill 0.2s ease;
}

@media (min-width: 767px) {
  .portfolio {
    padding-bottom: 100px;
  }
  .portfolio__cat {
    text-align: center;
  }
  .portfolio__row {
    justify-content: flex-start;
  }
  .card {
    flex: 0 0 50%;
  }
  .touch__form input {
    padding: 0 20px;
  }
  .footer__menu {
    flex-direction: row;
    margin: 0px 0px 20px 0px;
  }
  .footer__menu li:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 1px;
    background-color: #60606E;
    vertical-align: middle;
    margin: 0 10px;
  }
  .footer__menu-link {
    line-height: 1;
  }
  .footer__text {
    text-align: left;
  }
  .footer__social {
    text-align: right;
  }
  .footer__social svg {
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }
}

@media (min-width: 991px) {
  .menu {
    position: static;
    width: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
  }
  .menu__list {
    justify-content: space-between;
    flex-direction: row;
  }
  .menu__item {
    height: 30px;
  }
  .menu__link {
    font-size: 14px;
    color: #60606E;
    position: relative;
  }
  .menu__link::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 1px;
    background-color: #60606E;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .menu__link:hover {
    background-color: transparent;
  }
  .menu__link:hover::before {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .agancy {
    background: url("../img/agency-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    height: 850px;
  }
  .agancy__body {
    margin-top: -200px;
  }
  .history {
    margin: -290px 0px 0px 0px;
    padding: 0;
  }
  .choose {
    padding: 140px 0px 140px 0px;
  }
  .choose__subtitle {
    margin: 20px 0px 86px 0px;
  }
  .choose__image img {
    width: 100%;
    object-fit: cover;
  }
  .preference {
    text-align: left;
  }
  .preference__icon {
    width: 27px;
    height: 36px;
    margin: 0px 0px 20px;
  }
  .portfolio__cat {
    text-align: left;
  }
  .card {
    flex: 0 0 33.3333%;
  }
}
